@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&display=swap');

body {
    background-image: url(../img/backgrounds/paper.jpg);
}

.tittle {
  font-family: 'Qwigley', cursive;
  color: #467ca0d1;
  font-size: 4rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}


.fecha{
  font-family: 'Libre Bodoni', serif;
  font-size: xxx-large;
  color: #1f1f1fd1;
  font-weight: 500;
}


.section {
    background-image: url(../img/backgrounds/sky.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.inicio{
    background-image: url(../img/backgrounds/paper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  text-align: center;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contador{
    max-width: 650px;
    margin:60px auto;
}

.contador h1{
    color:#fff;
}

.center-abs{
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
    position: absolute;
}

.charts{
    display: flex;
}

.chart{
    position: relative;
    width:25%;
    height: 260px;
}

.chart h3{
    color:#fff;
    position: absolute;
    bottom:10px;
    text-align: center;
    width: 100%;
    font-size: larger;
}

/* DIV CIRCULO DE FONDO */
.circle{
    width: 150px;
    height:150px;
    background-color: #94b8d7;
    z-index:1;
    border:10px #baeaff solid;
}

.text{
    z-index: 3;
    text-align: center;
    width: 100%;
    font-size: 3.8em;
    font-weight: 500;
    color: white;
    margin-top: -10px;
}


.img-icons{
    width: 5%;
}



.reloj{
    display: flex;
    justify-items: center;
}

.reloj-card{
    margin: 15px;
    padding: 20px;
    width: 90px;
    height: 90px;
}