@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/backgrounds/paper.jpg);
}

.tittle {
    font-family: 'Carattere', cursive;
  color: #467ca0d1;
  font-size: 5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.fecha{
    font-family: 'Libre Bodoni', serif;
  font-size: 5rem;
  color: #1f1f1fd1;
  font-weight: 500;
}

.section {
    background-image: url(../img/backgrounds/sky.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.section h2{
    font-size: 3rem;
    font-weight: 600;
}

.inicio{
    background-image: url(../img/backgrounds/paper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  text-align: center;
}

.contador{
    max-width: 650px;
    margin:60px auto;
}

.contador h1{
    color:#fff;
}

.center-abs{
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
    position: absolute;
}

.charts{
    display: flex;
}

.chart{
    position: relative;
    width:25%;
    height: 50px;
}

.chart h3{
    color:#fff;
    position: absolute;
    bottom:10px;
    text-align: center;
    width: 100%;
    font-size: larger;

}

/* DIV CIRCULO DE FONDO */
.circle{
    width: 150px;
    height:150px;
    background-color: #94b8d7;
    z-index:1;
    border:10px #baeaff solid;
}

.text{
    z-index: 3;
    text-align: center;
    width: 100%;
    font-size: 3.8em;
    font-weight: 500;
    color: white;
    margin-top: -10px;
}


.img-icons{
    width: 6%;
}


.reloj{
    display: flex;
    justify-items: center;
}


.locations{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

/* .card{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

} */