@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carattere&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url(../img/backgrounds/paper.jpg);
}

.tittle {
  font-family: "Carattere", cursive;
  color: #467ca0d1;
  font-size: 5rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.fecha {
  font-family: "Libre Bodoni", serif;
  font-size: 5rem;
  color: #1f1f1fd1;
  font-weight: 500;
}

.section {
  background-image: url(../img/backgrounds/sky.jpg);
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.section h2 {
  font-size: 3rem;
  font-weight: 600;
}

.inicio {
  background-image: url(../img/backgrounds/paper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.contador {
  max-width: 650px;
  margin: 60px auto;
}

.contador h1 {
  color: #fff;
}

.center-abs {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.charts {
  display: flex;
}

.chart {
  position: relative;
  width: 25%;
  height: 50px;
}

.chart h3 {
  color: #fff;
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: larger;
}

/* DIV CIRCULO DE FONDO */
.circle {
  width: 150px;
  height: 150px;
  background-color: #94b8d7;
  z-index: 1;
  border: 10px #baeaff solid;
}

.text {
  z-index: 3;
  text-align: center;
  width: 100%;
  font-size: 3.8em;
  font-weight: 500;
  color: white;
  margin-top: -10px;
}

.img-icons {
  width: 6%;
}

.reloj {
  display: flex;
  justify-items: center;
}

/* LOCACION */

.locations {
  background-color: red;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.location-hour {
  font-family: "Libre Bodoni", serif;
  font-size: 2rem;
  color: #1f1f1fd1;
  font-weight: 500;
}

/* MESA DE REGALOS */
.gifs {
  text-align: center;
}

/* Float four columns side by side */
.columna {
  float: left;
  width: 20%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.fila {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.fila:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.gift-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .columna {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* ITINERARIO */
.itinerario {
  text-align: center;
}

/* ASISTENCIA */
.asistencia {
  text-align: center;
}

.asistencia a {
  color: #fff;
  background-color: #94b8d7;
  border-color: #94b8d7;
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  vertical-align: middle;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  vertical-align: middle;
  cursor: pointer;
  padding: 0.675rem 0.75rem;
}

.asistencia a:hover {
  background-color: #fd7e14;
}

#whatsapp {
  vertical-align: middle;
}

.info h2 {
  font-size: x-large;
  font-family: "Libre Bodoni", serif;
  font-weight: 200;
}

.location-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;

  box-shadow: 0.5px 1.1px 0.9px rgba(0, 0, 0, 0.083),
    1.8px 3.6px 3.1px rgba(0, 0, 0, 0.095), 8px 16px 14px rgba(0, 0, 0, 0.1);
}

.image {
  max-width: 50%;
  height: auto;
  border-radius: 5px;
  margin-right: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.content h2 {
  font-family: "Libre Bodoni", serif;
}

.btn-map {
  background-color: #81a6c7;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
  max-width: 200px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
}

button:hover {
  background-color: #4e799e;
}

.image-cover{
    background-image: url(../img/photos/cover.jpeg);
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    height: 45rem;
}

.album{
  text-align: center;
  align-items: center;
}